[submodule "MayflowerSync"]
	path = MayflowerSync
	url = git@github.com:MayflowerIT/MayflowerSync.git
[submodule "DSCresources/MMAgent"]
	path = DSCresources/MMAgent
	url = git@github.com:MayflowerIT/MMAgent.git
[submodule "MayflowerAPI"]
	path = MayflowerAPI
	url = git@github.com:MayflowerIT/WindowsAPI.git
[submodule "PrivateData"]
	path = PrivateData
	url = git@github.com:MayflowerIT/PrivateData.git
