[submodule "MayflowerSync"]
	path = MayflowerSync
	url = git@github.com:MayflowerIT/MayflowerSync.git
[submodule "DSCresources/MMAgent"]
	path = DSCresources/MMAgent
	url = git@github.com:MayflowerIT/MMAgent.git
